__pycache__/
.pytest_cache/
*.pyc

.venv/
venv/
ENV/

data/
peer/data/
peer/__pycache__/

*.log
*.tmp
*.swp
*.swo
bin/
*.exe
*.out
*.test

/p2p-network
/coordinator/p2p-network
/coordinator/coordinator
.env
